<div class="uk-text-center">
  {%- if include.mod -%}
    <b>{{include.mod}}</b>
    <br>
  {%- endif -%}
  {%- if include.name -%}
    {%- assign name = include.name -%}
  {%- else -%}
    {%- assign name = include.title | slugify -%}
  {%- endif -%}
  {%- if include.html -%}
    {%- assign link = name | append: "-html/cover" -%}
  {%- else -%}
    {%- assign link = name -%}
  {%- endif -%}
  <a class="uk-inline book-link" href="/docs/books/{{include.version}}/{{link}}/">
    <img src="/assets/images/book/icons/{{include.icon | default: name}}.png" alt=""/>
    <br>
    {{include.title | default: name}}
  </a>
</div>