---
---

@font-face {
    font-family: "minecraft-unicode";
    src: url("/assets/fonts/MinecraftUnicode.woff2");
}

.mc-font-gray {
    color: #7E7A74;
}

.mc-font-black {
    font-family: "minecraft-unicode", monospace;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    word-spacing: -1px;
    color: #000000;
}

.grid-content-3, .grid-content-4 {
    display: grid;
    position: absolute;
    text-align: center;
    img {
        width: 94px;
        height: 56px;
    }
    p {
        height: 38px;
        overflow: hidden;
    }
}

.grid-content-3 {
    grid-template-columns: repeat(3, 1fr);
    width: 282px;
    left: 41px;
    top: 44px;
}

.grid-content-4 {
    grid-template-columns: repeat(4, 1fr);
    width: 376px;
    top: 46px;
    left: -4px;
}

.grid-icon-list {
    left: 30px;
    display: grid;
    position: absolute;
}

.grid-icon-list-3 {
    grid-template-columns: repeat(3, 1fr);
    width: 270px;
    img {
        width: 90px;
        height: 90px;
    }
}

.grid-icon-list-4 {
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    img {
        width: 75px;
        height: 75px;
    }
}

.grid-icon-list-5 {
    grid-template-columns: repeat(5, 1fr);
    width: 300px;
    img {
        width: 60px;
        height: 60px;
    }
}

.grid-icon-list-6 {
    grid-template-columns: repeat(6, 1fr);
    width: 300px;
    img {
        width: 50px;
        height: 50px;
    }
}

.grid-icon-list-7 {
    grid-template-columns: repeat(7, 1fr);
    width: 280px;
    img {
        width: 40px;
        height: 40px;
    }
}

.book-page-html {
    a, a:visited, a:active {
        color: inherit;
    }
    a:hover {
        color: #A80000;
    }
}

.link-list {
    margin: 0;
    padding-inline-start: 16px;
    list-style-type: "- ";
    li::marker {
        color: #A80000;
    }
    li:hover {
        list-style-type: "> ";
    }
}

.content-list-links {
    > div {
        width: 100%;
    }
}

.prop-list {
    margin-top: 8px;
    padding-inline-start: 16px;
}

.row, .row-material-stats, .content-list-links {
    display: flex;
    flex-direction: row;
}

.column, .page-material {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-material-stats {
    width: 332px; /* really 324px is more correct, but I can't get things to line up */
    > .column {
        row-gap: 22px;
    }
    > div {
        width: 100%
    }
}

.grid-armor-traits {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 332px;
    row-gap: 12px;
}

.underline, .book-page-html a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0;
}

.large {
    font-size: 16px;
    line-height: 26px;
}

.book-page-html {
    visibility: hidden;
    position: relative;
    image-rendering: pixelated;
    width: 824px;
    height: 400px;
    transform-origin: top left;
    > div {
        position: absolute;
        top: 8px;
        width: 364px;
        height: 352px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 16px;
    }
    p  {
        scroll-margin-top: 240px;
        margin: 0;
    }
}

.left {
    left: 16px;
    .page-material {
        > :not(.underline) {
            padding-left: 44px;
        }
    }
    .trait {
        padding-right: 20px;
    }
}

.right {
    left: 412px;
    .trait {
        padding-right: 44px;
    }
}

.back-arrow {
    position: absolute;
    top: 2px;
    left: -18px;
    > img {
        width: 28px;
        height: 32px;
    }
}

.left-arrow, .right-arrow-1, .right-arrow {
    position: absolute;
    top: 350px;
    > img {
        width: 36px;
        height: 20px;
    }
}

.left-arrow {
    left: 44px;
}

.right-arrow-1 {
    left: 536px;
}

.right-arrow {
    left: 742px;
}

.spacing {
    padding-top: 166px;
}

.spacing-lg {
    padding-top: 238px;
}