---
---
@import "treeview";
@import "texticon";

/* override max width */
.wrapper {
    max-width: 824px;
}

.post-content {
    margin-bottom: 0;
}

/* Add logo to the site title */
.site-title {
    padding-left: 56px;
    image-rendering: pixelated;
    background-image: url(/assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: top 4px left;
}

/* Hatnotes and disambiguation notices, from https://minecraft.wiki/w/MediaWiki:common.css */
.hatnote {
	font-style: italic;
}

.hatnote i {
	font-style: normal;
}

div.hatnote {
	padding-left: 1.6em;
	margin-top: -1em;
	margin-bottom: 0.5em;
}

div.hatnote + div.hatnote {
	margin-top: -0.5em;
}

/* Add a vertical line under h2 to help break up page contents */
h2 {
    border-bottom: 1px solid #d1d9e0b3;
}

.slimeknights-table {
    thead th:first-child {
        width: 64px;
    }
    img {
        width: 64px;
        height: 64px;
    }
}

/* Hide permalink icons when not hovered */
.hover-container:not(:hover) > .hover-icon {
    display: none;
}
/* Highlight link header */
:target {
    background-color: rgba(255, 255, 0, 0.28);
}

/* Project page */
.project-list > .uk-card:not(:last-child) {
    margin-bottom: 15px;
}
.project-links .uk-button {
    &.uk-button-primary, &.uk-button-danger {
        color: #fff !important;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}
.project-title {
    margin-bottom: -5px;
}

/* Green button */
.uk-button-success {
    background-color: #32a852;
    color: #fff !important;
    border: 1px solid transparent;

    &:hover {
        background-color: #2e994b;
    }
}

.social-media-list .uk-icon {
    color: #000;
}

/*
 * Ordered list where nested lists use the parent number
 * From https://stackoverflow.com/questions/13841771/ordered-list-css-style-includes-parent-number
 */
.section-list {
    ol {
      /* Creates a new instance of the section counter with each ol element */
      counter-reset: section;
      list-style-type: none;
    }
    li:before {
      /* Increments only this instance of the section counter */
      counter-increment: section;
      /* Adds the value of all instances of the section counter separated by a ".". */
      content: counters(section, ".") " ";
    }
}

.toc {
    width: max-content;
    font-size: small;
    max-width: 100%;

    .uk-open .uk-accordion-title {
        margin-bottom: -15px;
    }
}

.sk-card-info {
    --uk-inverse: dark;
    background-color: #f5da42;
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

/* Make code inside links still blue */
a > code {
    color: #0f6ecd;
}

/* Jekyll makes *italics* use <em>, but UiKit makes that red. Don't want italics to be red. */
em {
    color: initial;
}

.uk-lightbox-items>*>:not(iframe) {
    /* book covers are square, so just use the smaller dimension as the side length */
    &.book-cover {
        image-rendering: pixelated;
        width: auto;
        height: min(100%, 100vw);
    }
    /* book pages are a 2:1 width:height ratio, so width is 2x height or height is width/2 */
    &.book-page {
        image-rendering: pixelated;
        width: auto;
        height: min(100%, 50vw);
    }
}
.book-link img {
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
}

.post-header .post-title {
    margin-top: 0;
}
#breadcrumbs, #breadcrumbs a {
    color: silver;
}
/* Prevent visited page links from turning blue */
.uk-pagination > * > a:visited {
    color: #999;
}
/* Reduce padding on 2 digit links */
.uk-pagination > .two-digit > * {
    padding: 5px;
}

/* Color circles */
.color {
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -3px;
  border: 1px solid gray;
}

/** Remove margin from the top of nav links */
.navigation {
  margin-top: -1.5em;
}

/* Keep update images from getting too tall */
.update-image img {
  max-height: 300px;
  margin:auto;
  display: block;
}

/* Keep update images from getting too tall */
.update-video video {
  height: 300px;
  margin: auto;
  display: block;
}

/* Table on connected models page */
.connected-table {
    td.connected-match {
        background-color: LightGreen;
        color: DarkGreen
    }
    td.connected-no-match {
        background-color: coral;
        color: maroon
    }
}

/**** Book Pages ****/
@font-face {
    font-family: "minecraft-unicode";
    src: url("/assets/fonts/MinecraftUnicode.woff2");
}

.mc-font-gray {
    color: #7E7A74;
}

.mc-font-black {
    font-family: "minecraft-unicode", monospace;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    word-spacing: -1px;
    color: #000000;
}

.grid-content-3, .grid-content-4 {
    display: grid;
    position: absolute;
    text-align: center;
    img {
        width: 94px;
        height: 56px;
    }
    p {
        height: 38px;
        overflow: hidden;
    }
}

.grid-content-3 {
    grid-template-columns: repeat(3, 1fr);
    width: 282px;
    left: 41px;
    top: 44px;
}

.grid-content-4 {
    grid-template-columns: repeat(4, 1fr);
    width: 376px;
    top: 46px;
    left: -4px;
}

.grid-icon-list-3, .grid-icon-list-4, .grid-icon-list-5, .grid-icon-list-6, .grid-icon-list-7 {
    left: 30px;
    display: grid;
    position: absolute;
}

.grid-icon-list-3 {
    grid-template-columns: repeat(3, 1fr);
    width: 240px;
    img {
        width: 80px;
        height: 80px;
    }
}

.grid-icon-list-4 {
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    img {
        width: 75px;
        height: 75px;
    }
}

.grid-icon-list-5 {
    grid-template-columns: repeat(5, 1fr);
    width: 300px;
    img {
        width: 60px;
        height: 60px;
    }
}

.grid-icon-list-6 {
    grid-template-columns: repeat(6, 1fr);
    width: 300px;
    img {
        width: 50px;
        height: 50px;
    }
}

.grid-icon-list-7 {
    grid-template-columns: repeat(7, 1fr);
    width: 280px;
    img {
        width: 40px;
        height: 40px;
    }
}

.book-page-html {
    a, a:visited, a:active {
        color: inherit;
    }
    a:hover {
        color: #A80000;
    }
}

.link-list {
    margin: 0;
    padding-inline-start: 16px;
    list-style-type: "- ";
    li::marker {
        color: #A80000;
    }
    li:hover {
        list-style-type: "> ";
    }
}

.content-list-links {
    > div {
        width: 100%;
    }
}

.prop-list {
    margin-top: 8px;
    padding-inline-start: 16px;
}

.row, .row-material-stats, .content-list-links {
    display: flex;
    flex-direction: row;
}

.column, .page-material {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-material-stats {
    width: 332px; // really 324px is more correct, but I can't get things to line up
    > .column {
        row-gap: 22px;
    }
    > div {
        width: 100%
    }
}

.grid-armor-traits {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 332px;
    row-gap: 12px;
}

.underline, .book-page-html a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0;
}

.large {
    font-size: 16px;
    line-height: 26px;
}

.book-page-html {
    visibility: hidden;
    position: relative;
    image-rendering: pixelated;
    width: 824px;
    height: 400px;
    transform-origin: top left;
    > div {
        position: absolute;
        top: 8px;
        width: 364px;
        height: 352px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 16px;
    }
    p  {
        scroll-margin-top: 240px;
        margin: 0;
    }
}

.left {
    left: 16px;
    .page-material {
        > :not(.underline) {
            padding-left: 44px;
        }
    }
    .trait {
        padding-right: 20px;
    }
}

.right {
    left: 412px;
    .trait {
        padding-right: 44px;
    }
}

.back-arrow {
    position: absolute;
    top: 2px;
    left: -18px;
    > img {
        width: 28px;
        height: 32px;
    }
}

.left-arrow, .right-arrow-1, .right-arrow {
    position: absolute;
    top: 350px;
    > img {
        width: 36px;
        height: 20px;
    }
}

.left-arrow {
    left: 44px;
}

.right-arrow-1 {
    left: 536px;
}

.right-arrow {
    left: 742px;
}

/* from https://minecraft.wiki/w/MediaWiki:common.css */

// TODO: these can probably be removed as I dont use the formatting codes

.format-0 {
    color: #000;
    text-shadow: 1px 1px 0 #000;
}
.format-1 {
    color: #0000A8;
    text-shadow: 1px 1px 0 #00002A;
}
.format-2 {
    color: #00A800;
    text-shadow: 1px 1px 0 #002A00;
}
.format-3 {
    color: #00A8A8;
    text-shadow: 1px 1px 0 #002A2A;
}
.format-4 {
    color: #A80000;
    text-shadow: 1px 1px 0 #2A0000;
}
.format-5 {
    color: #A800A8;
    text-shadow: 1px 1px 0 #2A002A;
}
.format-6 {
    color: #FBA800;
    text-shadow: 1px 1px 0 #3E2A00;
}
.format-7 {
    color: #A8A8A8;
    text-shadow: 1px 1px 0 #2A2A2A;
}
.format-8 {
    color: #545454;
    text-shadow: 1px 1px 0 #151515;
}
.format-9 {
    color: #5454FB;
    text-shadow: 1px 1px 0 #15153E;
}
.format-a {
    color: #54FB54;
    text-shadow: 1px 1px 0 #153E15;
}
.format-b {
    color: #54FBFB;
    text-shadow: 1px 1px 0 #153E3E;
}
.format-c {
    color: #FB5454;
    text-shadow: 1px 1px 0 #3E1515;
}
.format-d {
    color: #FB54FB;
    text-shadow: 1px 1px 0 #3E153E;
}
.format-e {
    color: #FBFB54;
    text-shadow: 1px 1px 0 #3E3E15;
}
.format-f,
#minetip-tooltip {
    color: #FBFBFB;
    text-shadow: 1px 1px 0 #3E3E3E;
}
.format-g {
    color: #DDD605;
    text-shadow: 1px 1px 0 #373501;
}
.format-h {
    color: #E3D4D1;
    text-shadow: 1px 1px 0 #383534;
}
.format-i {
    color: #CECACA;
    text-shadow: 1px 1px 0 #333232;
}
.format-j {
    color: #443A3B;
    text-shadow: 1px 1px 0 #110E0E;
}
.format-l {
    font-weight: bold;
    letter-spacing: 0.125em;
}
.format-m {
    text-decoration: line-through;
}
.format-n {
    text-decoration: underline;
}
.format-o {
    font-style: italic;
}
.format-p {
    color: #DEB12D;
    text-shadow: 1px 1px 0 #372C0B;
}
.format-q {
    color: #47A036;
    text-shadow: 1px 1px 0 #04280D;
}
.format-s {
    color: #2CBAA8;
    text-shadow: 1px 1px 0 #0B2E2A;
}
.format-t {
    color: #21497B;
    text-shadow: 1px 1px 0 #08121E;
}
.format-u {
    color: #9A5CC6;
    text-shadow: 1px 1px 0 #261731;
}
.format-v {
    color: #EB7114;
    text-shadow: 1px 1px 0 #3B1D05;
}
/* Custom color codes because §m and §n are used twice. */
.format-y {
    color: #971607;
    text-shadow: 1px 1px 0 #250501;
}
.format-z {
    color: #B4684D;
    text-shadow: 1px 1px 0 #2D1A13;
}
/* Class for &#123456 and &$123 adding custom hex colors. */
.format-custom {
    text-shadow: 1px 1px 0 color-mix(in srgb, currentColor 25%, #000 75%);
}

/* Styling for minecraft style tooltip */
#minetip-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100010;
    background-color: rgba(16, 0, 16, 0.94);
    padding: 0.375em;
    font-family: "minecraft-unicode", monospace;
    font-size: 13px;
    white-space: nowrap;
    line-height: 20px;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
    > p {
        margin: 0;
    }
}

#minetip-tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border: 0.15em solid #100010;
    border-style: none solid;
    border-color: rgba(16, 0, 16, 0.94);
}

#minetip-tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
    border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}

#minetip-tooltip > .description,
#minetip-tooltip > .minetip-description {
    display: block;
    margin-top: 0.25em;
}

.spacing {
    padding-top: 166px;
}

.spacing-lg {
    padding-top: 238px;
}